<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-input label="Digite a quantia em reais:" type="number" placeholder="000" [(ngModel)] = "real"></ion-input>
  <ion-button expand="block" (click)="calcularDolar()">calcular</ion-button>
  <ion-label>{{res}}</ion-label>

  <ion-input label="Digite a nota de AC:" type="number" placeholder="0" [(ngModel)] = "AC"></ion-input>
  <ion-input label="Digite a nota da AGH:" type="number" placeholder="0" [(ngModel)] = "AGH"></ion-input>
  <ion-input label="Digite a nota da AT:" type="number" placeholder="0" [(ngModel)] = "AT"></ion-input>
  <ion-button expand="block" (click)="calcularMedia()">calcular</ion-button>
  <ion-label>{{media}}</ion-label>
</ion-content>




